<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="text-zero top-right-button-container">
            <div>
                <button id="button-basic" type="submit" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg">Confirmation Order</button>
            </div>
        </div>
        <div class="separator mb-4"></div>
    </div>
</div>
<div class="row">
    <ng-container *ngIf="dataSource; else loading">
        <div class="col-12 mb-4 standard-table p-3">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <a class="c-pointer" class="text-decoration-none" routerLink="/app/supplierportal/purchaseOrderDetail/{{row.id}}">{{row.id}}</a></td>
                </ng-container>
                <ng-container matColumnDef="expectedAcknowledgement">
                    <th mat-header-cell *matHeaderCellDef>Expected Acknowledgement
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.expectedAcknowledgement}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.status}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="deliveryDate">
                    <th mat-header-cell *matHeaderCellDef> Delivery Date
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.deliveryDate}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="netValue">
                    <th mat-header-cell *matHeaderCellDef> Net Value
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.netValue}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10,25,100]"></mat-paginator>
        </div>
    </ng-container>
</div>
<ng-template #loading>
    <div class="loading"></div>
</ng-template>
