<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Bank Data Table</h5>
                <form [formGroup]="bankCompanyForm">
                    <!-- <div>
                        <button id="button-basic" type="button" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-sm" (click)="addNewRow()">Add Bank</button>
                    </div> -->
                    <br>
                    <table class="table table-borderless ">
                        <thead class="thead-light">
                            <tr>
                                <!-- <th scope="col">Index</th> -->
                                <th scope="col">Bank Country</th>
                                <th scope="col">Bank Name</th>
                                <th scope="col">Account Number</th>
                                <!-- <th scope="col"></th> -->
                            </tr>
                        </thead>
                        <tbody formArrayName="bankCompanyFormArray">
                            <tr *ngFor="let item of bankData; let rowIndex=index;" [formGroupName]="rowIndex">
                                <td><input type="text" class="form-control round" formControlName="bankCountry" [value]="item.bankCountry" /></td>
                                <td><input type="text" class="form-control round" formControlName="bankName" [value]="item.bankName" /></td>
                                <td><input type="text" class="form-control round" formControlName="accountNumber" [value]="item.accountNumber" /></td>
                                <!-- <td><button id="button-basic" type="button" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-sm simple-icon-trash" title="Delete" (click)="onDeleteRow(item.bankCountry,rowIndex)"></button></td> -->
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div *ngIf="Selected">
                        <h1 class="mb-4">Bank Details</h1>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="bankCountry">Bank Country</label>
                                <input type="text" class="form-control round" id="bankCountry" [value]="Selected.bankCountry">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="bankName">Bank Name</label>
                                <input type="text" class="form-control round" id="bankName" [value]="Selected.bankName">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="accountNumber">Account Number</label>
                                <input type="text" class="form-control round" id="accountNumber" [value]="Selected.accountNumber">
                            </div>
                        </div>
                    </div> -->
                </form>

            </div>
        </div>
    </div>
</div>