<div class="row">
    <div class="col-12">
        <form [formGroup]="individualForm">
            <div>
                <div class="text-zero top-right-button-container">
                    <div>
                        <button id="button-basic" type="submit" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg" title="Save" (click)="onSubmit()">Save</button>
                        <button id="button-basic" type="button" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg" (click)="update()">Edit</button>
                    </div>
                </div>
                <h1>Individual Customer</h1>
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div>
                <tabset class="separator-tabs">
                    <tab heading="{{ 'pages.general' | translate | uppercase }}">
                        <app-profile-general formGroupName="generalIndividualFormGroup" formArrayName="identificationNumbersFormArray" [generalData]="generalData"></app-profile-general>
                    </tab>
                    <tab heading="{{'pages.address' | translate | uppercase}}">
                        <app-profile-address formGroupName="addressDetailCompanyForm" formArrayName="addressIndividualFormArray" [addressData]="addressData" [custObjectID]="custObjectID"></app-profile-address>
                    </tab>
                    <tab heading="{{'pages.contactinformation' | translate | uppercase}}">
                        <app-profile-contact formArrayName="contactIndividualFormArray" [generalData]="generalData"></app-profile-contact>
                    </tab>
                    <tab heading="{{'pages.bankdata' | translate | uppercase}}">
                        <app-profile-payment formArrayName="bankIndividualFormArray" [generalData]="generalData"></app-profile-payment>
                    </tab>
                    <tab heading="{{'pages.attachment' | translate | uppercase}}">
                        <app-profile-attachment formArrayName="attachmentIndividualFormArray" [generalData]="generalData" [custObjectID]="custObjectID"></app-profile-attachment>
                    </tab>
                </tabset>
            </div>
        </form>
    </div>
</div>