CustCompanyAccountService/node_modules
CustCompanyAccountService/dist

CustIndividualAccountService/node_modules
CustIndividualAccountService/dist

CustInvoicesService/node_modules
CustInvoicesService/dist

SalesOrderService/node_modules
SalesOrderService/dist

SalesQuotationService/node_modules
SalesQuotationService/dist

SupplierPortal/node_modules
SupplierPortal/dist

ApiGateway/node_modules
ApiGateway/dist


MaterialService/node_modules
MaterialService/dist

TenantsService/node_modules
TenantsService/dist


ClientService/node_modules
ClientService/dist

ConfigurationsService/node_modules
ConfigurationsService/dist

ProductCategoryService/node_modules
ProductCategoryService/dist

DashboardService/node_modules
DashboardService/dist



test

.vscode

.VSCodeCounter
runServices.sh