<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">
    <div class="main-container">
        <div class="row">
            <div class="card">
                <!-- <div class="card-group">
                    <div class="position-relative ">
                        <img class="card-img-left" src="assets/img/Background.jpg">
                    </div>
                </div> -->
                <div class="card   auth-card">
                    <div class="position-relative">
                        <img class="card-img-top h-100" src="assets/img/Background.jpg">
                    </div>
                    <div class="form-side">
                        <div class="form group">
                            <img class="list-thumbnail border-0 rounded-circle" src="/assets/img/rconnectlogo.png">
                        </div>
                        <h6 class="mb-4">Login</h6>
                        <form>
                            <label class="form-group has-float-label">
                          <input class="form-control" required email  />
                          <span>{{ 'user.email' | translate }}</span>
                          </label>
                            <label class="form-group has-float-label">
                              <input class="form-control" type="password" placeholder=""  />
                              <span>{{ 'user.password' | translate }}</span>
                            </label>
                            <div class="d-flex justify-content-between align-items-center">
                                <a style="color:darkgrey" routerLink="/user/forgot-password">{{ 'user.forgot-password' | translate }}?</a>
                                <a class="btn btn-light btn-lg mr-2 mb-2" routerLink="/app" target="_blank">Login <i class="simple-icon-arrow-right"></i></a>
                            </div>
                            <p class="mb-0 " style="color:darkgrey">
                                <br>If you are not a member, please
                                <a routerLink="/user/register" style="text-decoration: underline;color: darkgrey;">register</a>.
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>