<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Address</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="country">Country</label>
                <ng-select id="country" formControlName="country" bindLabel="countryRegion" (change)="onCountrySelected(addressForm.value.country)">
                    <ng-option *ngFor="let country of countryList; let i = index" [value]="country.countryCode">
                        {{country.countryRegion}}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input id="city" formControlName="city" class="form-control round" type="text" />
            </div>
            <div class="form-group">
                <label for="addressLine1">Address Line1</label>
                <input type="text" class="form-control round" id="addressLine1" formControlName="addressLine1">
            </div>
            <div class="form-group ">
                <label for="addressLine2">Address Line2</label>
                <input type="text" class="form-control round" id="addressLine2" formControlName="addressLine2">
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control round" id="street" formControlName="street">
            </div>
            <div class="form-group">
                <label for="buildingNumber">Building Number</label>
                <input type="text" class="form-control round" id="buildingNumber" formControlName="buildingNumber">
            </div>
            <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <input type="text" class="form-control round" id="postalCode" formControlName="postalCode">
            </div>
            <div class="form-group">
                <label for="description">website</label>
                <input id="description" formControlName="description" class="form-control round" type="text" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'survey.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right" (click)="onSubmit()">{{ 'survey.submit' | translate}}</button>
    </div>
</ng-template>
<!-- <app-company-address #test></app-company-address> -->
