<form [formGroup]="userform" novalidate #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12">
            <app-heading></app-heading>
            <div class="text-zero top-right-button-container">
                <div>
                    <button id="button-basic1" type="submit" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg" title="Save">Save</button>
                    <button id="button-basic2" type="button" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg" routerLink="/app/configuration/user/userList">Close</button>
                </div>
            </div>
            <app-breadcrumb></app-breadcrumb>
            <div class="separator mb-5"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <ng-container *ngIf="userID; else loading">
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <label>ID</label>
                                <input type="number" class="form-control round" formControlName="id">
                            </div>
                            <div class="form-group col-md-4">
                                <label>User Name</label>
                                <input type="text" class="form-control round" formControlName="userName">
                                <div *ngIf="userform.get('userName').errors?.required && form.submitted" class="invalid-tooltip">User Name is required!</div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Password</label>
                                <input type="password" class="form-control round" formControlName="password">
                                <div *ngIf="userform.get('password').errors?.required && form.submitted" class="invalid-tooltip">Password is required!</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="role">Role</label>
                                <ng-select id="role" formControlName="role" (change)="onRoleOptionsSelected(userform.value.role)">
                                    <ng-option selected disabled>{{ 'input-groups.choose' | translate }}</ng-option>
                                    <ng-option value="customer">Customer</ng-option>
                                    <ng-option value="supplier">Supplier</ng-option>
                                </ng-select>
                                <div *ngIf="userform.get('role').errors?.required && form.submitted" class="invalid-tooltip">Role is required!
                                </div>
                            </div>
                            <div class="error-l-100 position-relative form-group col-md-4">
                                <label for="currency">Currency</label>
                                <ng-select id="currency" formControlName="currency" bindLabel="Currency">
                                    <ng-option *ngFor="let currency of currencyList; let i = index" [value]="currency.Code">
                                        {{currency.Currency}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="userform.get('currency').hasError('required') && form.submitted" class="invalid-tooltip">
                                    Currency is required!</div>
                            </div>
                            <div class="form-group col-md-4" *ngIf="isCustomerShown">
                                <label for="customerType">Customer Type</label>
                                <ng-select id="customerType" formControlName="customerType" (change)="onTypeOptionsSelected(userform.value.customerType)">
                                    <ng-option selected disabled>{{ 'input-groups.choose' | translate }}</ng-option>
                                    <ng-option value="individual">Individual</ng-option>
                                    <ng-option value="company">Company</ng-option>
                                </ng-select>
                                <div *ngIf="userform.get('customerType').errors?.required && form.submitted " class="invalid-tooltip">
                                    Customer Type is required!</div>
                            </div>
                        </div>
                        <!-- <div class="form-row">

                        </div> -->
                        <div class="form-row">
                            <div class="form-group col-md-4" *ngIf="isCustomerShown">
                                <label for="businessPartnerID">Business Partner ID</label>
                                <ng-select id="businessPartnerID" formControlName="businessPartnerID" (change)="onCustomerOptionsSelected(userform.value.businessPartnerID)">
                                    <ng-option selected disabled>{{ 'input-groups.choose' | translate }}</ng-option>
                                    <ng-option *ngFor="let customer of businessPartnerID; let i = index" [value]="customer.InternalID">
                                        {{customer.InternalID}} - {{customer.PersonGivenName}} {{customer.PersonFamilyName}} {{customer.BusinessPartnerFormattedName}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="userform.get('businessPartnerID').errors?.required && form.submitted" class="invalid-tooltip">
                                    Business Partner ID is required!</div>
                            </div>
                            <div class="form-group col-md-4" *ngIf="isCustomerShown">
                                <label for="salesUnit">Sales Unit</label>
                                <ng-select id="salesUnit" formControlName="salesUnit" (change)="onSalesUnitOptionsSelected(userform.value.salesUnit)">
                                    <ng-option selected disabled>{{ 'input-groups.choose' | translate }}</ng-option>
                                    <ng-option *ngFor="let salesUnit of salesUnits; let i = index" [value]="salesUnit.ID">
                                        {{salesUnit.ID}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="userform.get('salesUnit').errors?.required && form.submitted " class="invalid-tooltip">Sales Unit is required!</div>
                            </div>

                            <!-- <div class="form-row"> -->
                            <div class="form-group col-md-4" *ngIf="isCustomerShown">
                                <label for="distributionChannel">Distribution Channel</label>
                                <ng-select id="distributionChannel" formControlName="distributionChannel">
                                    <ng-option selected disabled>{{ 'input-groups.choose' | translate }}</ng-option>
                                    <ng-option *ngFor="let distributionChannel of distributionChannels; let i = index" [value]="distributionChannel.DistributionChannelCode">
                                        {{distributionChannel.DistributionChannelCodeText}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="userform.get('distributionChannel').errors?.required && form.submitted" class="invalid-tooltip">Distribution Channel is required!</div>
                            </div>
                            <div class="form-group col-md-4" *ngIf="isCustomerShown">
                                <label for="priceList">Price List</label>
                                <ng-select id="priceList" formControlName="priceList">
                                    <ng-option selected>{{ 'input-groups.choose' | translate }}</ng-option>
                                    <ng-option *ngFor="let priceList of priceLists; let i = index" [value]="priceList.Name">
                                        {{priceList.Name}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="userform.get('priceList').errors?.required && form.submitted" class="invalid-tooltip">Price List is required!</div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</form>
<ng-template #loading>
    <div class="loading"></div>
</ng-template>
