<div class="row">
    <div class="col-12">
        <form [formGroup]="companyForm">
            <div>
                <div class="text-zero top-right-button-container">
                    <div>
                        <button id="button-basic" type="submit" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg" title="Save" (click)="onSubmit()">Save</button>
                        <button id="button-basic" type="button" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg" (click)="update()">Edit</button>
                    </div>
                </div>
                <h1>Company Customer</h1>
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div>
                <tabset class="separator-tabs">
                    <tab heading="{{ 'pages.general' | translate | uppercase }}">
                        <app-company-general formGroupName="generalCompanyForm" formArrayName="identificationNumbersFormArray" [generalData]="generalData"></app-company-general>
                    </tab>
                    <tab heading="{{'pages.address' | translate | uppercase}}">
                        <app-company-address formGroupName="addressDetailCompanyForm" formArrayName="addressCompanyFormArray" [addressData]="addressData" [custObjectID]="custObjectID"></app-company-address>
                        <app-add-new-address [addressData]="addressData"></app-add-new-address>
                    </tab>
                    <tab heading="{{'pages.contactinformation' | translate | uppercase}}">
                        <app-company-contact formArrayName="contactCompanyFormArray" [contactData]="contactData"></app-company-contact>
                    </tab>
                    <tab heading="{{'pages.bankdata'|translate | uppercase}}">
                        <app-company-bank formArrayName="bankCompanyFormArray" [bankData]="bankData"></app-company-bank>
                    </tab>
                    <tab heading="{{'pages.attachment' | translate | uppercase}}">
                        <app-company-attachment formArrayName="attachmentCompanyFormArray" [attachementData]="attachementData" [custObjectID]="custObjectID"></app-company-attachment>
                    </tab>
                </tabset>
            </div>
        </form>
        <!-- <pre>
        {{companyForm.value | json}}
      </pre> -->
    </div>
</div>