<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="newUserForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>ID</label>
                <input type="number" class="form-control round" formControlName="id">
            </div>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control round" formControlName="userName">
                <div *ngIf="newUserForm.get('userName').errors?.required && submitted" class="invalid-tooltip">Name is required!</div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control round" formControlName="password">
                <div *ngIf="newUserForm.get('password').errors?.required && submitted" class="invalid-tooltip">Password is required!</div>
            </div>

            <div class="error-l-100 position-relative form-group ">
                <label for="role">Role</label>
                <ng-select id="role" formControlName="role" #selectRole (change)="onRoleOptionsSelected(newUserForm.value.role)">
                    <ng-option disabled selected>{{ 'input-groups.choose' | translate }}</ng-option>
                    <ng-option value="customer">Customer</ng-option>
                    <ng-option value="supplier">Supplier</ng-option>
                </ng-select>
                <div *ngIf="newUserForm.get('role')?.errors?.required && submitted" class="invalid-tooltip">Role is required!</div>
            </div>

            <div class="error-l-100 position-relative form-group ">
                <label for="currency">Currency</label>
                <ng-select id="currency" formControlName="currency" #selectRole bindLabel="Currency">
                    <ng-option *ngFor="let currency of currencyList; let i = index" [value]="currency.Code">
                        {{currency.Currency}}
                    </ng-option>
                </ng-select>
                <div *ngIf="newUserForm.get('currency').hasError('required') && submitted" class="invalid-tooltip">Currency is required!</div>
            </div>
            <div class="form-group" *ngIf="isCustomerShown">
                <label for="customerType">Customer Type</label>
                <ng-select id="customerType" formControlName="customerType" (change)="onTypeOptionsSelected(newUserForm.value.customerType)" #customerType>
                    <ng-option selected>{{ 'input-groups.choose' | translate }}</ng-option>
                    <ng-option value="individual">Individual</ng-option>
                    <ng-option value="company">Company</ng-option>
                </ng-select>
                <div *ngIf="newUserForm.get('customerType')?.errors?.required && submitted" class="invalid-tooltip">Customer Type is required!</div>
            </div>
            <div class="form-group" *ngIf="isCustomerShown">
                <label for="businessPartnerID">Business Partner ID</label>
                <ng-select id="businessPartnerID" formControlName="businessPartnerID" (change)="onCustomerOptionsSelected(newUserForm.value.businessPartnerID)" #selectBusinessPartnerID>
                    <ng-option disabled selected>{{ 'input-groups.choose' | translate }}</ng-option>
                    <ng-option *ngFor="let customer of businessPartnerID; let i = index" [value]="customer.InternalID">
                        {{customer.PersonGivenName}} {{customer.PersonFamilyName}} {{customer.BusinessPartnerFormattedName}}
                    </ng-option>
                </ng-select>
                <div *ngIf="newUserForm.get('businessPartnerID')?.errors?.required && submitted" class="invalid-tooltip">Business Partner ID is required!</div>
            </div>
            <div class="form-group" *ngIf="isCustomerShown">
                <label for="salesUnit">Sales Unit</label>
                <ng-select id="salesUnit" formControlName="salesUnit" #mySelect (change)="onSalesUnitOptionsSelected(newUserForm.value.salesUnit)">
                    <ng-option selected disabled>{{ 'input-groups.choose' | translate }}</ng-option>
                    <ng-option *ngFor="let salesUnit of salesUnits; let i = index" [value]="salesUnit.ID">
                        {{salesUnit.ID}}
                    </ng-option>
                </ng-select>
                <div *ngIf="newUserForm.get('salesUnit')?.errors?.required && submitted " class="invalid-tooltip">Sales Unit is required!</div>
            </div>
            <div class="form-group" *ngIf="isCustomerShown">
                <label for="distributionChannel">Distribution Channel</label>
                <ng-select id="distributionChannel" formControlName="distributionChannel">
                    <ng-option selected disabled>{{ 'input-groups.choose' | translate }}</ng-option>
                    <ng-option value="distributionChannels.DistributionChannelCode">{{distributionChannels.DistributionChannelCodeText}}</ng-option>
                </ng-select>
                <div *ngIf="newUserForm.get('distributionChannel')?.errors?.required && submitted" class="invalid-tooltip">Distribution Channel is required!</div>
            </div>
            <div class="form-group" *ngIf="isCustomerShown">
                <label for="priceList">Price List</label>
                <ng-select id="priceList" formControlName="priceList">
                    <ng-option selected>{{ 'input-groups.choose' | translate }}</ng-option>
                    <ng-option *ngFor="let priceList of priceLists; let i = index" [value]="priceList.Name">
                        {{priceList.Name}}
                    </ng-option>
                </ng-select>
                <div *ngIf="newUserForm.get('priceList')?.errors?.required && submitted" class="invalid-tooltip">Price List is required!</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary float-right" (click)="onSubmit()">Submit</button>
    </div>
</ng-template>