<div class="row">
    <div class="col-12 ">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Contact Table</h5>
                <form [formGroup]="contactCompanyForm">
                    <br>
                    <div class="col-12 mb-4 p-3">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Function</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Phone</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="contactCompanyFormArray">
                                <tr *ngFor="let item of contactData let rowIndex=index;" [formGroupName]="rowIndex" (click)="selectRow(item)" (click)="onSelect(item)" [class.selected]="item === Selected">
                                    <td><input type="text" class="form-control round" formControlName="name" /></td>
                                    <td><input type="text" class="form-control round" formControlName="function" /></td>
                                    <td><input type="text" class="form-control round" formControlName="department" /></td>
                                    <td><input type="text" class="form-control round" formControlName="phone" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="Selected">
                            <h1 class="mb-4">Contact Details</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fax">Fax</label>
                                    <input type="text" class="form-control round" id="fax" [value]="Selected.fax" [disabled]="edit" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mobileNumber">Mobile Number</label>
                                    <input type="text" class="form-control round" id="mobileNumber" [value]="Selected.mobileNumber" [disabled]="edit" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control round" id="email" [value]="Selected.email" [disabled]="edit" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="preferredMethodOfCommunication">Preferred Method Of Communication</label>
                                    <input type="text" class="form-control round" id="preferredMethodOfCommunication" [value]="Selected.preferredMethodOfCommunication" [disabled]="edit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>