<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="myform" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control round" formControlName="phone">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mobileNumber">{{ 'forms.mobilenumber' | translate }}</label>
                            <input type="text" class="form-control round" id="mobile" formControlName="mobileNumber">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control round" id="email" formControlName="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="preferredMethodOfCommunication">{{ 'forms.preferredmethodofcomm' | translate }}</label>
                            <input type="text" class="form-control round" id="preferredMethodOfCommunication" formControlName="preferredMethodOfCommunication">
                        </div>

                    </div>
                    <!-- <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="whatsAppNumber">{{ 'forms.whatsappnumber' | translate }}</label>
                            <input type="url" class="form-control round" id="whatsAppNumber" formControlName="whatsAppNumber">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="facebookAccount">{{ 'forms.facebookaccount' | translate }}</label>
                          <input type="url" class="form-control round" id="facebookAccount" formControlName="facebookAccount">
                      </div>
                    </div> -->

                    <!-- <button (click)="update()" class="btn btn-primary" type="button">Edit</button>
                    <button type="submit" class="btn btn-primary">Save</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
