<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Identification</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label>Country</label>
                <ng-select id="country" formControlName="country" bindLabel="countryRegion" (change)="onCountrySelected(form.value.country)">
                    <ng-option *ngFor="let country of countryList; let i = index" [value]="country.countryCode">
                        {{country.countryRegion}}
                    </ng-option>
                </ng-select>
            </div>
            <div class="mt-4">
                <label>Number Type</label>
                <ng-select id="numberType" formControlName="numberType" (change)="onNumberTypeSelected(form.value.numberType)">
                    <ng-option *ngFor="let n of numberTypeCodeList[0]; let i = index" [value]="n.Value">
                        {{n.Description}}
                    </ng-option>
                </ng-select>
            </div>
            <div class="mt-4">
                <label>Number ID</label>
                <input type="text" class="form-control round" formControlName="numberID" placeholder="">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary float-right" (click)="onSubmit()">Submit</button>
    </div>
</ng-template>