<div class="row">
    <div class="col-12 ">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Attachment Table</h5>
                <div>
                    <button id="button-basic" type="button" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-sm" (click)="showAddNewModal()">Add Attachment</button>
                </div>
                <br>
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data let rowIndex=index;">
                            <td>{{item.title}}</td>
                            <td>
                                <button id="button-basic" type="button" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-sm iconsminds-download" title="Download"></button>
                                <button id="button-basic" type="button" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-sm simple-icon-trash" title="Delete" (click)="openDeleteModal(template)"></button>
                                <ng-template #template>
                                    <div class="modal-body text-center">
                                        <h6 class="modal-title mb-4">Are You Sure Want to Delete?</h6>
                                        <button type="button" class="btn btn-outline-primary" (click)="confirmDelete(rowIndex)">{{'modal.yes' | translate}}</button> {{" "}}
                                        <button type="button" class="btn btn-primary" (click)="cancelDelete()">{{'modal.no' | translate}}</button>
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-add-attachment (newAttachment)="addAttachment($event)" #addAttachmentModalRef></app-add-attachment>