<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="text-zero top-right-button-container">
            <button id="button-basic" type="button" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg" (click)="showAddNewModal()">New User</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="display-options-container">
            <div class="d-inline-block">
                <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                    <input class="form-control" [ngModel]="globalFilter" placeholder="Search" (ngModelChange)="updateFilter($event)">
                </div>
            </div>
        </div>
        <div class="separator mb-4"></div>
    </div>
</div>

<div class="row">
    <ng-container *ngIf="dataSource.data else loading">
        <div class="col-12 mb-4 table-container p-3">
            <table mat-table [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" matSort>
                <ng-container matColumnDef="filter">
                    <th mat-header-cell *matHeaderCellDef cdkDrag>
                        <button mat-icon-button matTooltip="Toggle Filters" (click)="toggleFilters = !toggleFilters">
          <mat-icon>search</mat-icon>
        </button>
                    </th>
                    <td mat-cell *matCellDef="let element"></td>
                </ng-container>
                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>ID
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <a class="c-pointer" routerLink="/app/configuration/userDetail/{{row._id}}">{{ row._id }}</a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>User Name
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <a class="c-pointer">{{ row.username }}</a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Role
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.role }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Status
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.status }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef cdkDrag>
                    </th>
                    <td mat-cell *matCellDef="let row ;let rowIndex=index;">
                        <button id="button-basic" type="button" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block btn-xs simple-icon-trash" title="Delete" (click)="onDeleteRow(template)"></button>
                        <ng-template #template>
                            <div class="modal-body text-center">
                                <h6 class="modal-title mb-4">Are You Sure Want to Delete?</h6>
                                <button type="button" class="btn btn-outline-primary" (click)="remove(rowIndex, row._id)">{{'modal.yes' | translate}}</button> {{" "}}
                                <button type="button" class="btn btn-primary" (click)="decline()">{{'modal.no' | translate}}</button>
                            </div>
                        </ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="_filter">
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td></td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="idFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="_username">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="userNameFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="_role">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="roleFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="_status">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="statusFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="_delete">
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-header-row class="no-default-height" *matHeaderRowDef="headersFilters"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10,50,100]"></mat-paginator>
        </div>
    </ng-container>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<app-add-new-user (newUser)="addUser($event)" #addNewUserModalRef></app-add-new-user>
<ng-template #loading>
    <div class="loading"></div>
</ng-template>