<div class="row">
    <div class="col-12">
        <div>
            <div class="text-zero top-right-button-container">
                <div>
                    <button id="button-basic" type="submit" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg" title="Save">Save</button>
                    <button id="button-basic" type="button" placement="bottom right" class="btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-lg">Edit</button>
                </div>
            </div>
            <app-heading></app-heading>
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div>
            <tabset class="separator-tabs">
                <tab heading="{{ 'pages.general' | translate | uppercase }}">
                    <app-supplier-general></app-supplier-general>
                </tab>
                <tab heading="{{'pages.address' | translate | uppercase}}">
                    <app-supplier-address></app-supplier-address>
                </tab>
                <tab heading="{{'pages.contactinformation' | translate | uppercase}}">
                    <app-supplier-contact></app-supplier-contact>
                </tab>
                <tab heading="{{'pages.bankdata'|translate | uppercase}}">
                    <app-supplier-bank></app-supplier-bank>
                </tab>
                <tab heading="{{'pages.attachment' | translate | uppercase}}">
                    <app-supplier-attachment></app-supplier-attachment>
                </tab>
                <tab heading="{{'Scare Card' | translate | uppercase}}">
                </tab>
            </tabset>
        </div>
    </div>
</div>
