<div class="card auth-card" style="width: 600px;height: 600px;">
    <div class=" position-relative card-body  form-side">
        <h6 class="mb-4">Clock In Simulator </h6>

        <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="has-float-label">
        <input class="form-control" type="number" required  ngModel #employeeID="ngModel" name="employeeID"  />
        <span>Employee ID</span>
        <div *ngIf="!employeeID.valid && loginForm.submitted" class="invalid-tooltip">Employee ID is required!</div>
      </label>
            </div>
            <div class="form-group">
                <label class=" has-float-label">
        <input class="form-control" type="date" placeholder="" required ngModel #date="ngModel" name="date" />
        <span>Date</span>
        <div *ngIf="!date.valid && loginForm.submitted" class="invalid-tooltip">Date is required!</div>
      </label>
            </div>
            <div class="form-group">
                <label class="form-group has-float-label">
        <input class="form-control" type="time" placeholder="" required ngModel #time="ngModel" name="time"  />
        <span>Time</span>
        <div *ngIf="!time.valid && loginForm.submitted" class="invalid-tooltip">Time is required!</div>
      </label>
            </div>
            <div class="mb-4 form-row p-4 tooltip-center-bottom">
                <div class="form-group col-md-6 custom-control custom-radio">
                    <input type="radio" id="checkIn" value="P10" name="radio" ngModel #radio="ngModel" required class="custom-control-input">
                    <label class="custom-control-label" for="checkIn">Check in</label>
                </div>
                <div class="form-group col-md-6 custom-control custom-radio">
                    <input type="radio" id="checkOut" value="P20" name="radio" ngModel #radio="ngModel" required class="custom-control-input">
                    <label class="custom-control-label" for="checkOut">Check Out</label>
                </div>
                <div *ngIf="!radio.valid && loginForm.submitted">Radio is required!</div>
            </div>

            <div class="d-flex">
                <!-- <a routerLink="/user/forgot-password">{{ 'user.forgot-password' | translate }}?</a> -->
                <!-- <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState" [isDisabled]="buttonDisabled" click="onLoginClick()">
                    {{ 'user.login-button' | translate | uppercase }}
                </app-state-button> -->
                <!-- <label class="p-5">ff</label> -->

            </div>
            <button class="btn btn-primary btn btn-success mb-2" type="submit" style="background-color: navy;">Send</button>
        </form>

    </div>
</div>
<simple-notifications></simple-notifications>
