<app-list-page-header [showDisplayMode]="false" [showItemsPerPage]="false" [showOrderBy]="false" [showSearch]="false"></app-list-page-header>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <!-- <form #bydForm="ngForm" (ngSubmit)="save()"> -->
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="technicalUser">Technical User</label>
                        <input [(ngModel)]="config.technicalUsername" type="text" name="technicalUser" class="form-control round" id="technicalUser">
                        <!-- <div *ngIf="!hostname.valid && bydForm.submitted" class="invalid-tooltip">Hostname is required!</div>
                              <div *ngIf="hostname?.errors?.pattern && bydForm.submitted" class="invalid-tooltip">Hostname must contain at most 2 letter and 6 number!</div>
                              <div *ngIf="!hostname?.errors?.pattern && hostname?.errors?.maxlength && bydForm.submitted" class="invalid-tooltip">Hostname must contain at most 8 characters!</div> -->
                    </div>

                    <div class="form-group col-md-4">
                        <label for="password">Password</label>
                        <input [(ngModel)]="config.technicalPassword" type="password" name="password" class="form-control round" id="password">
                        <!-- <div *ngIf="password?.errors?.required && bydForm.submitted" class="invalid-tooltip">ByDesign Password is required!</div> -->
                    </div>
                </div>
                <div class="text-left">
                    <div class=" form-inline">
                        <div class="form-group ">
                            <button id="button-basic1" type="submit" placement="bottom right" class=" btn btn-outline-primary ml-2 d-none d-xl-inline-block  btn-sm" title="Test Check">Test Check</button>
                        </div>
                        <div style="padding-left: 10px;" class="form-group">
                            <span style="height: 15px;width: 15px; background-color: gray;border-radius: 50%;display: inline-block;" id="activeTest"></span>
                        </div>
                        <div style="padding-left:700px ;" class="form-group">
                            <button id="button-basic2" type="submit" class=" btn  btn-outline-primary ml-2 d-none d-xl-inline-block btn-sm" title="Save" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
                <div>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="loading"></div>
</ng-template>
<simple-notifications></simple-notifications>
