<!-- <form [formGroup]="form">
    <ng-container formArrayName="tableRowArray">
        <table mat-table [dataSource]="data.identificationnumbers" class="mat-elevation-z8 demo-table">
            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput type="text" [value]="element.country" />
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="numberType">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput type="text" [value]="element.numberType" />
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="numberID">
                <th mat-header-cell *matHeaderCellDef>Weight</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput type="text" [value]="element.numberID" />
                    </mat-form-field>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row (click)="selectRow(row)" [ngClass]="{highlighted: selection.isSelected(row)}" (click)="onSelect(row)" [class.selected]="row === Selected" *matRowDef="let row; columns: displayedColumns;let i=index"></tr>
        </table>
    </ng-container>
</form>
<div>
    <h3>
        Click Log
    </h3>
</div>

<div *ngIf="!Selected">

</div>
<div *ngIf="Selected">

    <h2>{{Selected.country}}Details</h2>
    <div>position: {{Selected.numberType}} ||{{Selected.numberID}}</div>
</div>





 -->