<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="display-options-container">
            <div class="d-inline-block">
                <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                    <input class="form-control" [ngModel]="globalFilter" placeholder="Search" (ngModelChange)="updateFilter($event)">
                </div>
            </div>
        </div>
        <div class="separator mb-4"></div>
    </div>
</div>
<div class="row">
    <ng-container *ngIf="dataSource.data; else loading">
        <div class="table-container col-12 mb-4  p-3">
            <table mat-table [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" matSort>

                <ng-container matColumnDef="filter">
                    <th mat-header-cell *matHeaderCellDef="let i=index" cdkDrag>

                        <button mat-icon-button matTooltip="Toggle Filters" (click)="toggleFilters = !toggleFilters">
            <mat-icon>search</mat-icon>
          </button>
                    </th>
                    <td mat-cell *matCellDef="let element"></td>
                </ng-container>
                <ng-container matColumnDef="salesOrderNumber">
                    <th mat-header-cell *matHeaderCellDef="let i=index" mat-sort-header cdkDrag> Sales Order Number
                    </th>
                    <td mat-cell *matCellDef="let element"><a class="c-pointer" class="text-decoration-none text-dark" routerLink="/app/customerportal/salesorderDetail/{{element.id}} ">{{element.id}} </a> </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef="let i=index" mat-sort-header cdkDrag> Status
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="postingDate">
                    <th mat-header-cell *matHeaderCellDef="let i=index" mat-sort-header cdkDrag> Posting Date
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.postingDate}} </td>
                </ng-container>
                <ng-container matColumnDef="requestedDate">
                    <th mat-header-cell *matHeaderCellDef="let i=index" mat-sort-header cdkDrag> Requested Date
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.requestedDate}} </td>
                </ng-container>

                <ng-container matColumnDef="externalReference">
                    <th mat-header-cell *matHeaderCellDef="let i=index" mat-sort-header cdkDrag> External Reference
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.externalReference}} </td>
                </ng-container>
                <ng-container matColumnDef="totalNet">
                    <th mat-header-cell *matHeaderCellDef="let i=index" mat-sort-header cdkDrag> Total Net
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalNet}} </td>
                </ng-container>
                <ng-container matColumnDef="_filter">
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td></td>
                </ng-container>

                <ng-container matColumnDef="_salesOrderNumber">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="salesOrderFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="_status">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="statusFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="_postingDate">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="postingDateFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="_requestedDate">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="requestedDateFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="_externalReference">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="externalReferenceFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="_totalNet">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filters-container" [class.animate]="toggleFilters">
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Press 'Enter' to search" [formControl]="totalNetFilter">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <!-- Start: Add below "tr" for displaying filters -->
                <tr mat-header-row class="no-default-height" *matHeaderRowDef="headersFilters"></tr>
                <!-- End: Add above "tr" for displaying filters -->
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>

            <mat-paginator style="width: unset;" [pageSize]="5" [pageSizeOptions]="[5, 10,50,100]"></mat-paginator>
        </div>
    </ng-container>
    <ng-template #loading>
        <div class="loading"></div>
    </ng-template>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
