<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Attachment</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="attachmentForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" formControlName="title" class="form-control round" type="text" />
            </div>
            <div class="form-group ">
                <label for="attachmentDocument">Attachment Document</label>
                <dropzone id="attachmentDocument" [config]="configForDropzone" [message]="'form-components.dropzone-message' | translate" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
                <br>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'survey.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right" (click)="onSubmit()">{{ 'survey.submit' | translate}}</button>
    </div>
</ng-template>