<app-list-page-header [showOrderBy]="false" [showDisplayMode]="false" [showSearch]="false" [showItemsPerPage]="false">

</app-list-page-header>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="mb-4">{{'charts.pie' | translate}}</h5>
                <div class="row">
                    <div class="col-lg-6 mb-5">
                        <div class="chart-container chart">
                            <app-pie-chart [shadow]="true" [options]="chartDataConfig.pieChartOptions" [data]="pieChartData"></app-pie-chart>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="chart-container chart">
                            <app-doughnut-chart [shadow]="true" [options]="chartDataConfig.doughnutChartOptions" [data]="doughnutChartData"></app-doughnut-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 mb-5">
                        <h5 class="mb-4">{{'charts.bar' | translate}}</h5>
                        <div class="chart-container chart">
                            <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions" [data]="barChartData"></app-bar-chart>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <h5 class="mb-4">{{'charts.area' | translate}}</h5>
                        <div class="chart-container chart">
                            <app-area-chart [shadow]="true" [options]="chartDataConfig.areaChartOptions" [data]="areaChartData"></app-area-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
